{{ define "main" }}
<article class="pt-3">
    {{ .Content}}

    <p class="contact-me">
        My inbox is always open! Feel free to <a href="/resume">check out my resume</a> if you are looking for a developer, writer, or teacher currently.
        <a href="mailto:tim@timeaton.dev"><button>tim@timeaton.dev</button></a>
    </p>

    <h2 style="margin-top: 3em;">Recent Posts</h2>
    <section class="recent-posts">
        {{- range ( where site.RegularPages "Section" "posts" | first 100 ) }}
            <p>
                <span class="title"><a class="title" href="{{ .RelPermalink }}">{{ .Title }} ></a></span>
                <br/><span class="post-date">{{ .PublishDate.Format "2 Jan, 2006" }} - </span>
                {{ .Description | markdownify }}
            </p>
        {{ end }}
    </section>

</article>

{{ end }}