:root {
    
    --text-basic: hsl(356, 44%, 65%);
    --bg-basic: hsl(356, 44%, 65%);
    --text-link: hsl(165, 44%, 35%);
    --bg-link-background: #C4DFDF;
    --text-hover: hsl(194, 31%, 54%);
    --text-hover-background: hsl(11, 85%, 75%);
    --color-post-date: hsl(357, 44%, 65%);
    --blockquote-border: hsl(34, 86%, 22%);
    --bg-footer: hsl(226, 4%, 29%);
    --shadow-footer: rgba(0, 0, 0, 0.5);
    --text-top: hsl(225, 96%, 85%);
    --bg-top:  hsl(201, 91%, 31%);
    --header-shadow: rgba(0, 0, 0, 0.35);
    --bg-header: hsl(225, 96%, 85%);
    --bg-contact: hsl(225, 96%, 85%);
    --text-glass-header: rgba(252, 240, 234, 0.15);
    --bg-glass-header: rgba(86, 88, 114, 0.15);
    --text-glass: rgba(86, 88, 114, 0.15);
    --bg-glass: rgba(252, 240, 234, 0.15);
}


html,
body {
    color: var(--text-basic);
    line-height: 1.7em;
    margin: 0;
    background: #CC95C0;  
    min-height: 100vh;
    
    
}

/** Colors **/

.decoration-top {
    background: #847d89;
    background: linear-gradient(to bottom #847d89 0 5%, 
        #b2c6d6 5% 10%,
        #847d89 10% 15%,
        #fffcdc 15% 25%,
        #847d89 25% 30%,
        #DBD4B4 30% 35%,
        #847d89 35% 40%,
        #CC95C0 40% 55%,
        #847d89 55%, 60%,
        #d9a7c7 60% 80%,
        #847d89 80% 10%);
        min-height: 200px;

}

.post-date {
    padding: 12px;
    color: var(--color-post-date);
}

div .plrainbow {
    background: #000000;
	background-image: -webkit-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
	background-image: -moz-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5)); 
	background-image: -ms-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
	background-image: -o-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
    color: var(--top-text);
}

section.header {
    box-shadow: var(--header-shadow) 0px 5px 15px;
    background: var(--bg-header);
    opacity: 75%;
}

section.contact {
    background: var(--bg-contact)
}

section.methods {
    margin-top: 24px;
}

section.recent-posts {
    margin-bottom: 24px;
    margin-top: 24px;
}

section.footer {
    box-shadow: 0px 0px 35px 0px var(--shadow-header);
    background: var(--bg-footer);
    color: var(--bg-footer); 
}

/** Glass-eye **/
.glass-eye {
    background: var(--bg-glass);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    max-width: 760px;
    margin-top: 0px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 24px;
    }

    .glass-eye h2 {
        background: var(--bg-glass-header);
        color: var(--text-glass-header);
    }
    
    
    
/** links **/

header h1 {
    margin: 0;
    font-family: 'Slackside One', 'Bangers', monospace;
    letter-spacing: .2em;
}

header li {
    display: inline;
    margin-left: 24px;
}


/** Structure **/
.content-center {
    max-width: 760px;
    margin: auto;
    padding: 12px;
}

.wrapper-all {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

header {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;

}

header span {
    text-align: left;
    justify-content: left;
    flex-grow: 1;
}

/** Typography **/
p,
div,
article,
section,
li {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
sidebar li {
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 700;
}


header li a {
    padding: 0.25em 0.5em;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: hsl(27, 81%, 51%);
    padding: 0 0.25rem;
    background-image: linear-gradient(hsl(34, 86%, 22%) 0 0);
    border-radius: 6px;
    background-size: 0;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: .35s;
}

a:hover {
    color: var(color-link);
    background-size: 100%;
    text-decoration: underline;
}

button {
    margin: 0;
    color: var(--color-link);
    border: 1px solid var(--color-link);
    border-radius: 2em;
    padding: .5rem 2rem;
    background: none;
    /* background-image: linear-gradient(hsl(215, 19%, 38%) 0 0); */
    background-size: 0;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: .4s;
}

.contact-me button {
    display: block;
    margin: 0px auto;
}

.contact-me a {
    margin: 0px;
}
    
button:hover {
    background-size: 100%;
    text-decoration: none;
}

.front-layout {
    max-width: 900px;
}

article h1,
sidebar h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 0.67em;
}

article h2,
sidebar h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0.81em;
}

article h3,
sidebar h3 {
    font-size: 1.17em;
    font-weight: 700;
    margin-top: 1em;
}

article p {
    margin-top: .8em;
    line-height: 2em;
}

article ol,
article ul {
    margin-top: .8em;
    margin-left: 1em;
}

article a {
    color: var(--color-link);
}

article a:visited {
    color: var(--color-link)
}

article blockquote, .contact-me {
    margin: 2em;
    padding: 1em;
    border: 1px solid var(--blockquote-border);
    border-radius: 6px;
    box-shadow: 2px 2px var(--color-bg), 3px 3px hsl(34, 86%, 22%);
}

article h2 a,
article h2 a:visited,
article h3 a,
article h3 a:visited {
    color: inherit;
}


article h2 a:hover,
article h3 a:hover {
    color: var(--color-link);
}

article pre {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid hsl(34, 86%, 22%);
    box-shadow: 2px 2px hsl(216, 65%, 11%), 3px 3px hsl(34, 86%, 22%);
}

pre code {
    font-size: 90%;
}

.decoration {
    height: 5px;
    background: #000000;
}
å
.post-date {
    font-weight: bold;
}

.recent-posts .title {
    font-weight: bold;
}

footer {
    padding-top: 2em;
    text-align: center;
    font-size: 90%;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

footer ul li {
    display: inline;
    list-style: none;
    padding: 0 1em;
}

footer p {
    text-align: center;
}

