<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Spline+Sans+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = "Home" }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="I'm a full stack developer, specializing in PHP, Javascript, Python, and CSS.">
    <meta name="keywords" content="developer, laravel, php, go, tim eaton, timothy eaton, blog">
    <meta name="author" content="Tim Eaton">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <div class="container wrapper flex justify-center py-24 ">
        <div class="grid grid-cols-1 md:grid-cols-[2fr,1fr] lg:grid-cols-[2fr,1fr]
        front-layout gap-x-12 p-12">
            {{- block "main" . }}{{- end }}
            <sidebar class="text-right">
                <h1 class="text-gray-700 text-right font-bold">Tim Eaton</h1>
                <h3 class="text-gray-700 text-right font-bold">Fullstack Developer</h3>

                <ul class="border-pink-500 border-t-4 pt-4">
                    <li><a href="#">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/hireme">Hire Me</a></li>
                    <li><a href="/uses">Uses</a></li>
                </ul>

                <h3>..ooO</h3>
                <ul>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>

                <ul>
                    <li><a href="/colophon">Colophon</a></li>
                </ul>
            </sidebar>

        </div>
    </div>
    <footer class="align-middle">
        <h3 class="text-gray-400 font-bold align-middle">Copyright &copy; {{ now.Format "2006"}} Tim Eaton</h3>
    </footer>
</body>

</html>