{{ define "description" }}
<meta name="description" content="{{ .Page.Params.description }}" />
{{ end }}

{{ define "main" }}
<article class="pt-3">
    <h2>
        {{ if .Page.Params.link }}
        <!-- TODO Get icon for link -->
        <a href="{{ .Page.Params.link }}">
            <i>↗</i> {{ .Page.Title }}
        </a>
        {{ else }}
        <a href="{{ .Page.Permalink }}">
            {{ .Page.Title }}
        </a>
        {{ end }}
        <span class="post-date"> - {{ .Page.Date.Format "02 Jan, 2006" }}</span>
    </h2>

    {{ .Content }}

    <p><strong>
        <a href="/posts">< Back to Blog</a>
    </strong></p>
</article>
{{ end }}