{{ define "main" }}
<article class="pt-3">
    <h2> > {{ .Title }}</h2>

    <section class="recent-posts">
        {{- range ( where site.RegularPages "Section" "posts" | first 100 ) }}
            <p>
                <span class="title"><a class="title" href="{{ .RelPermalink }}">{{ .Title }} ></a></span>
                <br/><span class="post-date">{{ .PublishDate.Format "2 Jan, 2006" }} - </span>
                {{ .Description | markdownify }}
            </p>
        {{ end }}
    </section>
</article>
{{ end }}