html,
body {
    background: rgb(10,25,47);
    background: radial-gradient(at bottom left, rgba(10,25,47,1) 0%, rgba(42,63,95,1) 85%);
    color: #dae6f7;
    line-height: 1.7em;
    margin: 0;
}

body {
    /* background: url(/images/background.jpg) no-repeat center top fixed; */
    /* background-size: 100% auto; */
}

p,
div,
article,
section,
li {
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
sidebar li {
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 700;
}

.wrapper {
    max-width: 760px;
    margin: auto;
    padding: 24px;
}

header {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
}

header span {
    text-align: left;
    justify-content: left;
    flex-grow: 1;
}
header h1 {
    margin: 0;
    font-family: 'Bangers', 'Spline Sans Mono', monospace;
    letter-spacing: .2em;
}

header li {
    display: inline;
    margin-left: 24px;
}

header li a {
    padding: 0.25em 0.5em;
}

a {
    color: #e190eb;
    padding: 0 0.25rem;
    background-image: linear-gradient(rgb(79, 95, 117) 0 0);
    background-size: 0;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: #e190eb;
    background-size: 100%;
    text-decoration: underline;
}

button {
    color: #e190eb;
    border: 1px solid #e190eb;
    border-radius: 2em;
    padding: .5rem 2rem;
    background: none;
    background-image: linear-gradient(rgb(79, 95, 117) 0 0);
    background-size: 0;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: .4s;
}

.contact-me button {
    display: block;
    margin: auto;
}
    
button:hover {
    background-size: 100%;
    text-decoration: none;
}

.front-layout {
    max-width: 900px;
}

article h1,
sidebar h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 0.67em;
}

article h2,
sidebar h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0.81em;
}

article h3,
sidebar h3 {
    font-size: 1.17em;
    font-weight: 700;
    margin-top: 1em;
}

article p {
    margin-top: .8em;
    line-height: 2em;
}

article ol,
article ul {
    margin-top: .8em;
    margin-left: 1em;
}

article a {
    color: #e190eb;
}

article a:visited {
    color: #e190eb;
}

article blockquote, .contact-me {
    margin: 2em;
    padding: 1em;
    border: 1px solid #dae6f7;
    box-shadow: 2px 2px rgb(10,25,47), 3px 3px #dae6f7;
}

article h2 a,
article h2 a:visited,
article h3 a,
article h3 a:visited {
    color: inherit;
}


article h2 a:hover,
article h3 a:hover {
    color: #e190eb;
}

article pre {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid #dae6f7;
    box-shadow: 2px 2px rgb(10,25,47), 3px 3px #dae6f7;
}

pre code {
    font-size: 90%;
}

.decoration {
    /* background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); */
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    height: 5px;
}

.recent-posts .date {
    color: hsl(216.43, 12.96%, 42.35%);
}

.recent-posts .title {
    font-weight: bold;
}

footer {
    color: hsl(216.43, 12.96%, 42.35%);
}